/app/config/*.neon
/libs/*
/log/*
/temp/*
/vendor/*
/www/css/*
!/www/css/admin.css
!/www/css/blog.css
!/www/css/signin.css
/www/fonts/*
/www/data/*
/www/js/*
!/www/js/main.js
/www/licensed/*
!.htaccess