{var $robots = noindex}
{block #title}{$code} | {include #parent}{/block}

{block content}

<h1 class="blog-title">{$code}</h1>

<div class="blog-content">
<p>Požadovaný obsah nebyl nalezen. Je možné že byl odstraněn, nebo máte chybný odkaz. Můžete přejít na <a n:href=":Front:Articles:showHome">hlavní stránku</a>.</p>
<p>CM Bukovinka.</p>
<p><small>error 404</small></p>
</div>
