{var $robots = noindex}
{block #title}Method Not Allowed | {include #parent}{/block}
{block #content}

<div class="error">
<h1>Method Not Allowed</h1>
<p>The requested method is not allowed for the URL.</p>
<p><small>error 405</small></p>
</div>
