<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Potvrzení objednávky z webu CM Bukovinka</title>
</head>
<body>
    <p>Objednávám následující zboží:</p>
    <p>{$objednano}</p>
	<p>v celkové ceně {$cena} Kč (bez poštovného).</p>
	<p>Způsob doručení: {$doruceni}</p>
	<p><strong>Fakturační údaje:</strong></p>
	<p>{$values['jmeno']} {$values['prijmeni']}<br>{$values['adresa']}<br>{$values['psc']} {$values['obec']}</p>
	<p>telefon: {$values['telefon']}<br>e-mail: {$values['email']}</p>
	{if isset($values['poznamka'])}
	<p><strong>Poznámka:</strong></p>
	<p>{$values['poznamka']}</p>
	{/if}
</body>
</html>
